body{
    background-image: url(img/birthday.jpg);
    background-position: center;
    background-size: cover;
    
}
#inputs{
    width: 36 rems;
    height: 28 rems;
    position: relative;
    padding: 10px;
    background-color: rgb(179, 201, 205);
    box-shadow: 10px, 10px, 15px, rgb(57, 56, 56);
    border-radius: 10px;
    text-align: center;


}
#inputs h1{
    color: rgb(134, 12, 12);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#inputs label{
    color:rgb(186, 71, 71) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#inputs h3{
    color: rgb(131, 11, 11);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

input{
margin: 10px;
padding: 6px;
border-color: rgb(244, 99, 99);
border-radius: 10px;
color:black ;
}











